
.session{
    width: 100%;
}
.session-container {
    display: flex;
    flex-direction: column;
    align-items: center;   
    justify-content: center;
    max-width:100%;
}

.session-container-text {
    margin-top: 142px;
    margin-bottom: 50px;
    text-align: center;
}

.session-container-text-title {
    font-size: 2.7rem;
    color: #333;
    font-weight: 400;
}

.session-container-text-title > span {
    color: var(--yellow-color);
    font-weight: 600;
}
.session-container-text-icon-box{
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 320px;
    margin-left: auto;
    margin-right: auto;
}
.session-container-text-icon-box::after {
    content: '';
    position: absolute;
    display: block;
    width: 130px;
    height: 1px;
    background-color: #e1e1e1;
    top: 50%;
    right: 0;
}
.session-container-text-icon-box::before {
    content: '';
    position: absolute;
    display: block;
    width: 130px;
    height: 1px;
    background-color: #e1e1e1;
    top: 50%;
    left: 0;
}

.session-container-text-icon-svg{
    color: #e1e1e1;
    height: 20px;
}
.session-container-text-description{
    color: #959595;
    font-size: 0.9rem;
}






.col-lg-20pt{
    flex: 0 0 20%;
    max-width: 20%;
    padding: 0 15px;
}
.col-lg-20pt-img{
    flex: 0 0 20%;
    max-width: 20%;
    padding: 0;
}



.row-no-wrap {
    display: flex;
    flex-wrap: nowrap;
    margin-left: -15px;
    margin-right: -15px;
}